 /* Importing Fonts */
 @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Varela Round", sans-serif;

}
.navbar-brand img {
    width: 200px; /* Increase the width of the logo */
    height: auto; /* Maintain aspect ratio */
  }  
  .slider_section .detail-box .btn-box .btn1 {
    display: inline-block;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #100420;
    color: #ffffff;
    border-radius: 0;
    border-radius: 250px !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.del-main {
    /* Darker background with linear gradient */
    background-image: linear-gradient(rgba(20, 9, 96, 0.7), rgba(20, 9, 96, 0.7)), url(/images/project.jpg);
    background-size: cover;
    height: 50vh;
}
.del-new-one{
    color: white;
    font-size: 50px;
}
.del-des{
        color: white;
        font-size: 20px;
}
.img-box img{
    width: 50vh;
}
.about_section{
    background: fixed;
}
.top-title{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10vh;
    padding-top: 5vh;
}
.header_section {
  background-color: #100420;
}
.about_section {
    background-color: #100420 !important;
    color: #ffffff;
}


/* Career Page Buliding */

  /* Tooltip container */
 
body{
    background-color: #100420;
}

.grid{
    background: url(/images/set-row.jpg);
    background-size: cover;
    height: 70vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 20px;
    border-radius: 20px;
    margin-bottom: 5vh;

}
.grid h1{
    padding-top: 25vh;
    font-size: 70px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: transparent; /* Make the text transparent */
    text-shadow: 0 0 1px #100420, 0 0 10px #f3f3f3; /* Apply multiple shadows with different colors */
   
}
.grid p{
    
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: transparent; /* Make the text transparent */
    text-shadow: 0 0 1px #100420, 0 0 10px #f3f3f3; /* Apply multiple shadows with different colors */
   
}
.grid-pro{
  background: url(/images/happy-co-workers-close-window.jpg);
  background-size: cover;
  height: 70vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 20px;
  border-radius: 20px;
  margin-bottom: 5vh;

} 
.grid-pro h1{
  padding-top: 25vh;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: transparent; /* Make the text transparent */
  text-shadow: 0 0 1px #100420, 0 0 10px #f3f3f3; /* Apply multiple shadows with different colors */
}
.grid-pro p{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: transparent; /* Make the text transparent */
  text-shadow: 0 0 1px #100420, 0 0 10px #f3f3f3; /* Apply multiple shadows with different colors */
}
.grid-fresher{
    background: url(/images/bussiness-people-working-team-office.jpg);
    background-size: cover;
    height: 70vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 20px;
    border-radius: 20px;
    margin-bottom: 5vh;

} 
.grid-fresher h1{
    padding-top: 25vh;
    font-size: 70px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: transparent; /* Make the text transparent */
    text-shadow: 0 0 1px #100420, 0 0 10px #f3f3f3; /* Apply multiple shadows with different colors */
}
.grid-fresher p{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: transparent; /* Make the text transparent */
    text-shadow: 0 0 1px #100420, 0 0 10px #f3f3f3; /* Apply multiple shadows with different colors */
}


.popup {
    display: none; /* Hide the popup by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999;
  }

  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

/* Form css */
/* General form styling (adjust as needed) */
form fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    padding: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px; 
  }
  form input{
    color: black;
  }
  form input[type="text"], 
  form input[type="email"], 
  form input[type="date"],
  form input[type="tel"],
  form select {
    width: 100%; 
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px; 
  }
  table tbody tr{
    width: 200px;
  }
  
  /* Table styling */
  table {
    width: 90vw;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
.two-cols{
    color: white;
    width: 90vw;
}
.fresher-form{
    color: white;
}
.fresher-form input{
    color: black;
}
#ft-form {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15
  }
  #ft-form *,
  #ft-form ::after,
  #ft-form ::before {
    box-sizing: border-box
  }
  #ft-form input,
  #ft-form select,
  #ft-form textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
  }
  #ft-form select {
    text-transform: none
  }
  #ft-form [type=submit] {
    -webkit-appearance: button
  }
  #ft-form legend {
    padding: 0
  }
  #ft-form h2,
  #ft-form p {
    margin: 0
  }
  #ft-form fieldset {
    margin: 0;
    padding: 0
  }
  #ft-form html {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5
  }
  #ft-form body {
    font-family: inherit;
    line-height: inherit
  }
  #ft-form *,
  #ft-form ::after,
  #ft-form ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
  }
  #ft-form textarea {
    resize: vertical
  }
  #ft-form input::-moz-placeholder,
  #ft-form textarea::-moz-placeholder {
    color: #9ca3af
  }
  #ft-form input:-ms-input-placeholder,
  #ft-form textarea:-ms-input-placeholder {
    color: #9ca3af
  }
  #ft-form input::placeholder,
  #ft-form textarea::placeholder {
    color: #9ca3af
  }
  #ft-form h2 {
    font-size: inherit;
    font-weight: inherit
  }
  #ft-form input,
  #ft-form select,
  #ft-form textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
  }
  #ft-form [type=date],
  #ft-form [type=email],
  #ft-form [type=tel],
  #ft-form [type=text],
  #ft-form select,
  #ft-form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size: 1rem;
    line-height: 1.5rem
  }
  #ft-form [type=date]:focus,
  #ft-form [type=email]:focus,
  #ft-form [type=tel]:focus,
  #ft-form [type=text]:focus,
  #ft-form select:focus,
  #ft-form textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
    border-color: #2563eb
  }
  #ft-form input::-moz-placeholder,
  #ft-form textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1
  }
  #ft-form input:-ms-input-placeholder,
  #ft-form textarea:-ms-input-placeholder {
    color: #6b7280;
    opacity: 1
  }
  #ft-form input::placeholder,
  #ft-form textarea::placeholder {
    color: #6b7280;
    opacity: 1
  }
  #ft-form select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact
  }
  #ft-form [type=checkbox],
  #ft-form [type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px
  }
  #ft-form [type=checkbox] {
    border-radius: 0
  }
  #ft-form [type=radio] {
    border-radius: 100%
  }
  #ft-form [type=checkbox]:focus,
  #ft-form [type=radio]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
  }
  #ft-form [type=checkbox]:checked,
  #ft-form [type=radio]:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
  }
  #ft-form [type=checkbox]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e")
  }
  #ft-form [type=radio]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e")
  }
  #ft-form [type=checkbox]:checked:focus,
  #ft-form [type=checkbox]:checked:hover,
  #ft-form [type=radio]:checked:focus,
  #ft-form [type=radio]:checked:hover {
    border-color: transparent;
    background-color: currentColor
  }
  #ft-form [type=checkbox]:indeterminate {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
  }
  #ft-form [type=checkbox]:indeterminate:focus,
  #ft-form [type=checkbox]:indeterminate:hover {
    border-color: transparent;
    background-color: currentColor
  }
  #ft-form [type=file] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit
  }
  #ft-form [type=file]:focus {
    outline: 1px auto -webkit-focus-ring-color
  }
  #ft-form fieldset {
    font-size: 100%;
    margin-top: 3rem;
    margin-bottom: 1.5rem
  }
  #ft-form fieldset:first-child {
    margin-top: 0
  }
  #ft-form fieldset > * {
    display: block;
    margin-bottom: 1.5rem
  }
  #ft-form fieldset > :last-child {
    margin-bottom: 0
  }
  #ft-form fieldset > .two-cols > * {
    display: block;
    margin-bottom: 1.5rem
  }
  #ft-form fieldset > .two-cols > :last-child {
    margin-bottom: 0
  }
  @media only screen and (min-width:640px) {
    #ft-form fieldset > .two-cols {
      display: flex;
      align-items: flex-end
    }
    #ft-form fieldset > .two-cols > * {
      display: block;
      margin-right: 1.5rem;
      margin-top: 0;
      margin-bottom: 0;
      flex: 1
    }
    #ft-form fieldset > .two-cols > :last-child {
      margin-right: 0
    }
  }
  #ft-form fieldset div > label {
    display: inline-flex;
    align-items: flex-start;
    margin-top: .5rem;
    width: 100%
  }
  #ft-form fieldset div > label:last-child {
    margin: .5rem 0 0 0
  }
  #ft-form fieldset div.inline {
    padding: .55rem 0 0;
    width: 100%
  }
  #ft-form fieldset div.inline > label {
    width: auto;
    margin-right: .5rem
  }
  #ft-form fieldset div.inline > label:last-child {
    margin-right: 0
  }
  #ft-form fieldset > .two-cols div.inline {
    padding: .55rem 0
  }
  #ft-form fieldset > legend {
    font-weight: 700;
    font-size: 120%;
    margin-bottom: 1rem
  }
  #ft-form fieldset > p {
    margin: 0
  }
  #ft-form [type=file] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size: 1rem;
    line-height: 1.5rem
  }
  #ft-form [type=file]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
    border-color: #2563eb
  }
  #ft-form [multiple],
  #ft-form [type=date],
  #ft-form [type=datetime-local],
  #ft-form [type=email],
  #ft-form [type=file],
  #ft-form [type=month],
  #ft-form [type=number],
  #ft-form [type=password],
  #ft-form [type=search],
  #ft-form [type=tel],
  #ft-form [type=text],
  #ft-form [type=time],
  #ft-form [type=url],
  #ft-form [type=week],
  #ft-form select,
  #ft-form textarea {
    border-radius: .375rem;
    margin-top: .25rem;
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
    border-color: #bbb;
    width: 100%
  }
  #ft-form [multiple] select,
  #ft-form [type=date] select,
  #ft-form [type=datetime-local] select,
  #ft-form [type=email] select,
  #ft-form [type=file] select,
  #ft-form [type=month] select,
  #ft-form [type=number] select,
  #ft-form [type=password] select,
  #ft-form [type=search] select,
  #ft-form [type=tel] select,
  #ft-form [type=text] select,
  #ft-form [type=time] select,
  #ft-form [type=url] select,
  #ft-form [type=week] select,
  #ft-form select select,
  #ft-form textarea select {
    padding-right: 2.5rem
  }
  #ft-form [multiple]:focus,
  #ft-form [type=date]:focus,
  #ft-form [type=datetime-local]:focus,
  #ft-form [type=email]:focus,
  #ft-form [type=file]:focus,
  #ft-form [type=month]:focus,
  #ft-form [type=number]:focus,
  #ft-form [type=password]:focus,
  #ft-form [type=search]:focus,
  #ft-form [type=tel]:focus,
  #ft-form [type=text]:focus,
  #ft-form [type=time]:focus,
  #ft-form [type=url]:focus,
  #ft-form [type=week]:focus,
  #ft-form select:focus,
  #ft-form textarea:focus {
    border-color: #bbb;
    box-shadow: 0 0 0 0 #fff,0 0 0 3px rgba(199,210,254,.5),0 0 #0000
  }
  #ft-form [type=checkbox],
  #ft-form [type=radio] {
    color: #4f46e5;
    box-shadow: none;
    border-radius: .25rem;
    border-color: #bbb;
    margin-right: .5rem
  }
  #ft-form [type=checkbox]:focus,
  #ft-form [type=radio]:focus {
    border-color: #bbb;
    box-shadow: 0 0 0 0 #fff,0 0 0 3px rgba(199,210,254,.5),0 0 #0000
  }
  #ft-form [type=radio] {
    border-radius: 100%
  }
  #ft-form .btns {
    text-align: left;
    margin-top: 3rem;
    color: black;
}
  #ft-form .btns > input[type=button],
  #ft-form .btns > input[type=reset],
  #ft-form .btns > input[type=submit] {
    display: inline-block;
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    line-height: 1.25rem;
    border-width: 1px;
    border-radius: .375rem;
    border-color: #bbb;
    background-color: #fff;
    cursor: pointer;
    margin-left: .5rem;
    font-weight: 700
  }
  #ft-form .btns > input[type=button]:focus,
  #ft-form .btns > input[type=reset]:focus,
  #ft-form .btns > input[type=submit]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #bbb;
    box-shadow: 0 0 0 2px #fff,0 0 0 4px rgba(199,210,254,.5),0 0 #0000
  }
  #ft-form .btns > input[type=submit] {
    background-color: #f3f4f5;
    transition: background-color .1s
  }
  #ft-form .btns > input[type=submit]:hover {
    background-color: #f8f9fa
  }

/* form endes */



/* Contact us */
* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
#map {
    height: 100%;
}


h1{
    font-size: 50px;
    text-align: center;
    padding-top: 90px;
    margin-left: -9px;
    color: #d59563;
}

/*Heading Shake Effect*/

h1:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

h6{
    text-align: center;
    color: #d59563;
}

#left {
    float: left;
    width: 50%;
    height: 700px;

}
#right {
    display: inline-block;
    position: absolute;
    float: right;
    width: 50%;
    height: 700px;
}
#cleared {
    clear: both;
}


ul{
    list-style-type: none;
}

form { max-width:420px; margin:20px auto; }

/*background: #13232f;*/

.formbox{
    background: transparent;
    padding: 10px;
    max-width:400px;
    margin: 10px auto;
    border-radius: 1px;
    box-shadow:0 4px 10px 4px transparent;
}
form {
    display: inline-block;
}
input.short{
    width: 48%;
    /*max-width: 48%; !* or whatever width you want. *!*/
    color: grey;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #d59563;
    transition: all 0.3s;
    padding: 13px;
    margin-right: 6px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline:0;
}

input:focus{
    /*border-bottom: 2px solid cyan;*/
}


#map-overlap{
    top: 10px;
    left: 10px;
    margin-top: -650px;
    margin-left: 50px;
    text-align: left;
    font-size: 17px;
    padding-top: 15px;
    padding-left: 15px;
    width: 205px;
    height: 155px;
    z-index: 10;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:200;
    position: relative;
    background: rgb(30,30,40);
    color: white;
}

#at{
    color: #d59563;

}

span{
    text-align: right;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:200;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: dimgrey;
}

.feedback-input {
    color: grey;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #d59563;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:99%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus {
    border:2px solid #d59563;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: Helvetica, Arial, sans-serif;
    width: 20%;
    background: rgb(30,30,40);
    border-radius:5px;
    cursor:pointer;
    color: #d59563;
    font-size:16px;
    margin-left: 80%;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    border:2px solid #d59563;
    font-weight:500;

}
[type="submit"]:hover {
    background: #d59563;
    color: rgb(30,30,40);
    outline: 0 !important;
}


@media all and (max-width:800px) {
    #left, #right
    {
        display: block;
        float: none;
        width: 100%;
    }
}

@media all and (max-width:800px) {
    .short
    {
        min-width: 99%;

    }
}


/*@media all and (max-width:800px) {*/
    /*#map-overlap*/
    /*{*/
        /*text-align: center;*/
        /*margin-left: -10px;*/
        /*display: block;*/
        /*width: 99%;*/
    /*}*/
/*}*/
.nav-item li a{
  padding: 10px !important;
}
a{
  text-decoration:none !important;
}